header, aside, footer, nav, section, article {
  display: block;
}

body {
  background-color: #fdfeff;
  color: #1a100c;
  font-family: "Poly", serif;
  font-size: 100%;
  margin: 0;
}

header, h1, h2, h3, h4, h5, h6 {
  font-family: "Sorts Mill Goudy", serif;
}

article p {
  margin-bottom: 0;
}

article p + p {
  margin-top: 0;
  text-indent: 1.5em;
}

body {
  margin: 2em;
}

div#table-of-contents {
  margin: 0 auto;
  width: 29em;
}
div#table-of-contents h1, div#table-of-contents h2, div#table-of-contents h3 {
  text-align: center;
}
div#table-of-contents h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
div#table-of-contents h2 {
  font-size: 1.5em;
  margin-top: 0.666667em;
  margin-bottom: 0.333333em;
}
div#table-of-contents h3 {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
div#table-of-contents h3#short_stories {
  margin-top: 0;
}
div#table-of-contents h3:before, div#table-of-contents h3:after {
  content: '\2014';
}
div#table-of-contents ol {
  list-style-type: none;
  padding-left: 0;
}
div#table-of-contents ol li {
  text-align: right;
}
div#table-of-contents ol li a {
  float: left;
}
div#table-of-contents ol li p {
  margin: 1em 0;
}

a:link, a:visited {
  border-bottom: thin dotted #1a100c;
  color: #1a100c;
  text-decoration: none;
}
a:link:hover, a:visited:hover {
  border-bottom: thin solid #37516b;
  color: #37516b;
  text-shadow: #fdfeff 0 0 8px, #7e9ebd 0 0 30px;
}
