@import "basic";

body {
  margin: 2em;
}

div#table-of-contents {
  margin: 0 auto;
  width: 29em;

  h1, h2, h3 {
    text-align: center;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1.5em;
    margin-top: 0.666667em;
    margin-bottom: 0.333333em;
  }

  h3 {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h3#short_stories {
    margin-top: 0;
  }

  h3:before, h3:after {
    content: '\2014';
  }

  ol {
    list-style-type: none;
    padding-left: 0;

    li {
      text-align: right;

      a {
        float: left;
      }
      p {
        margin: 1em 0;
      }
    }
  }
}

a:link, a:visited {
  border-bottom: thin dotted $foreground;
  color: $foreground;
  text-decoration: none;

  &:hover {
    border-bottom: thin solid darken($accent, 30%);
    color: darken($accent, 30%);
    text-shadow: $background 0 0 8px, $accent 0 0 30px;
  }
}
