<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="{{ site.baseurl }}/css/fonts.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/basic.css" />

    {% for sheet in page.stylesheets %} 
    <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ sheet }}.css" />
    {% endfor %}

    <link rel="alternate" type="application/atom+xml" title="Adam Lloyd's Short Writing - Atom" href="{{ site.baseurl }}/atom.xml" />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    {{ content }}

    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4f5ea7f7613f5d1caa00008f');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
